body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin-top: 20px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#contact img {
    margin-right: 10px;
}
